{% extends "layout.html" %}
{% block body %}
<section>
    <div id="center">
        <div id="container">
            <h2>Embark on a life Changing journey with Kendriya Vidyalaya</h2>
        </div>
        <div id="about">
            <h2>About KV NO.1, AFS Agra</h2>
            <p>Kendriya Vidyalaya No.1 also known as KV. The school was established in 1963. Kendriya Vidyalaya No.1 is
                a Co-Ed school affiliated to Central Board of Secondary Education (CBSE) . It is managed by Kendriya
                Vidyalaya Sangathan.</p>
        </div>
</section>
{% endblock %}
